<div class="list-group">
            <a class="list-group-item active">Pytania</a>
            <%= link_to "Listuj", admin_pytania_path, :class=>"list-group-item" %>
            <%= link_to "Dodaj", new_admin_pytanium_path, :class=>"list-group-item" %>
 </div>