<% provide(:title, 'Edytuj Pytanie') %>
<% content_for :menu do %>
<%= render 'menu' %>
<% end %>
<h1>Edytuj Pytanie</h1>
<%= bootstrap_form_for(@pytania,:url => admin_pytanium_url, style: :horizontal, left: "col-sm-4", right: "col-sm-8") do |f| %>
<%= render 'form',:f => f  %>

<% end %>

