<div class="list-group">
            <a class="list-group-item active">Newsy</a>
            <%= link_to "Listuj", admin_news_index_path, :class=>"list-group-item" %>
            <%= link_to "Dodaj", new_admin_news_path, :class=>"list-group-item" %>
 </div>