<% provide(:title, 'Edytuj News') %>
<% content_for :menu do %>
<%= render 'menu' %>
<% end %>
<h1>Edytuj News</h1>
<%= bootstrap_form_for(@news,:url => admin_news_url, style: :horizontal, left: "col-sm-4", right: "col-sm-8") do |f| %>
<%= render 'form',:f => f  %>

<% end %>

