<div class="list-group">
            <a class="list-group-item active">Wykopy</a>
            <%= link_to "Listuj", admin_wykops_path, :class=>"list-group-item" %>
            <%= link_to "Dodaj", new_admin_wykop_path, :class=>"list-group-item" %>
 </div>