<div class="list-group">
            <a class="list-group-item active">Wykop</a>
            <%= link_to "Dodaj", new_wykop_path, :class=>"list-group-item" %>
            <%= link_to "Najnowsze", wykops_path, :class=>"list-group-item" %>
            <%= link_to "Najlepsze", wykops_path, :class=>"list-group-item" %>

 </div>