<div class="list-group">
            <a class="list-group-item active">Użytkownicy</a>
            <%= link_to "Listuj", admin_users_path, :class=>"list-group-item" %>
            <%= link_to "Dodaj", new_admin_user_path, :class=>"list-group-item" %>
 </div>