<div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Witaj Adminie!</h1>
            <p>Tutaj możesz zarządzać stroną, dodawać i usuwać użytkowników, edytować treści zamieszczone na witrynie jak i dokonywać konserwacji systemu</p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-6">
              <h2>Newsy</h2>
              <table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tytul</th>
                            <th>Autor</th>
                            <th class="text-center">Akcje</th>
                        </tr>
                    </thead>
                            <tr>
                                <td>1</td>
                                <td>News1</td>
                                <td>admin</td>
                                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span></a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>News2</td>
                                <td>admin</td>
                                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span></a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>News3</td>
                                <td>admin</td>
                                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span></a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
                            </tr>
                    </table>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-6">
              <h2>Użytkownicy</h2>
              <table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nick</th>
                            <th>Email</th>
                            <th class="text-center">Akcje</th>
                        </tr>
                    </thead>
                    	<% @users.each do |user| %>
					     <tr>
					      <td><%= user.id %></td>
					      <td><%= user.name %></td>
					      <td><%= user.email %></td>
					      <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span></a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
					     </tr>
					  <% end %>


                    </table>
            </div><!--/span-->           
           </div><!--/row-->

        </div><!--/span-->